.gift_slide{
  padding: 3rem 0 0rem 10rem;
  width: 100%;
  display:flex;
  align-items:center;
  min-height: 48rem;
}
.gift_slide_body{
  max-width: 36rem;
  display: flex;
  flex-direction: column;
  align-items:center;
}
.gift_slide_body_label{
  margin-bottom: 1.4rem;
  text-align: center;
}
.gift_slide_body_title{
  text-align: center;
  margin-bottom: 3.2rem;
  font-size: 6.4rem;
  margin-top: 0 !important;
}
.gift_btn{
  background-color: #BE5B75;
  border: none;
  color: var(--cl-white);
  cursor: pointer;
  font-size: 1.6rem;
  font-weight:700;
  padding: 1.4rem 4rem;
  transition: .8s ease all;
}